
 .header {
    background-color: $primary-background;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    padding: 16px 24px;
}

.headerLeft {
    align-items: center;
    display: flex;   
    gap: 16px;
}
