.taskDescription {
    background-color: #242627;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 20px;
    position: relative;
}

.taskDescriptionText {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.taskDescriptionCloseButton {
    position: absolute;
    right: 16px;
    top: 16px;
}