.taskDescription {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.taskDescriptionText {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
    line-height: 24px;
    max-height: 100%;
    overflow-y: auto;
}

.linksList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.link {
    align-items: center;
    display: flex;
    font-weight: 600;
    gap: 8px;
}

.linkSkeleton {
    height: 25px;
}