.modal {
    background-color: $primary-background;
    border-color: $border-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    
    padding: 20px;
    position: relative;
}

.minifiedModal {
    max-height: fit-content;
}

.title {
    display: block;
}

.header {
    align-items: center;
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
}

.minifiedHeader {
    margin-bottom: 0;
}

.content {
    height: 100%;
}

.minifiedContent {
    display: none;
}

.loading {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
}