.page {
    background-color: $secondary-background;
    height: 100%;
    position: relative;
}

.codeEditorWidgetWrapper {
    align-items: center;
    display: flex;
    gap: 16px;
    height: calc(100vh - 60px);
    justify-content: space-between;
    left: 0;
    padding: 8px 24px;
    position: absolute;
    top: 0;
    width: 100%;
}

.codeEditorWidget {
    flex: 1;
    height: 100%;
    max-height: calc(100% - 32px);
}

.taskDescriptionWidget {
    height: 100%;
    max-height: calc(100% - 32px);
    max-width: 500px;
    overflow-y: auto;
    width: fit-content;
}

.commandPanel {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}