.page {
    display: flex;
    gap: 32px;
    height: 100%;
    padding: 24px;
}

.codeEditorWidget {
    flex: 300px;
    gap: 8px;
    height: 100%;
}

.tabs {
    left: 36px;
    position: relative;
    top: 2px;
}


.taskDescriptionWidget {
    flex: 1;
    height: 100%;
}