.tabs {
    z-index: 1;
}

.tabName {
    color: $secondary-text;
    display: block;
}

.wrapper {
    height: 100%;
    position: relative;
    z-index: 2;
}

.codeEditor {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
    height: calc(100% - 36px);
    padding-top: 16px;
    position: relative;
}

.editorFrame {
    border: 1px solid $border-color;
    border-radius: 8px;
    flex: 1 1;
    height: 100%;
    overflow: hidden;
}


.graphFrame {
    border: 1px solid $border-color;
    border-radius: 8px;
    overflow: hidden;
}

.miniMap {
    bottom: 64px;
    height: 120px;
    position: absolute;
    right: 16px;
    width: 200px;
    z-index: 3;
}